<div class="abtDiv">
    <p>OUR STORY & PHILOSOPHY</p>
    <div class="textAbout">
        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quis quae voluptates repellendus iusto
            mollitia
            dolore est? Dolorum nesciunt esse molestias, totam quasi temporibus adipisci error quae tenetur deserunt
            dolorem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus mollitia doloremque ipsam, quo
            dignissimos fugit, voluptate unde veritatis pariatur suscipit dolor perspiciatis ex maiores autem dolore ad,
            debitis in eaque?
        </h3>
    </div>
</div>
<div class="imgAbt">
    <img src="../../assets/Craftsman.jpg">
</div>