<div class="container-fluid asd">
    <p>OUR STORY & PHILOSOPHY</p>
    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quis quae voluptates repellendus iusto
        mollitia
        dolore est? Dolorum nesciunt esse molestias, totam quasi temporibus adipisci error quae tenetur deserunt
        dolorem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus mollitia doloremque ipsam, quo
        dignissimos fugit, voluptate unde veritatis pariatur suscipit dolor perspiciatis ex maiores autem dolore ad,
        debitis in eaque?
    </h2>
    <img src="../../assets/Craftsman.jpg">
</div>