<div class="container-fluid">
    <div class="row prvi">
        <div class="col levi">
            <h4>Fortisi home desigh</h4>
            <p>A: Laze Nancica 7, <br>
                Novi Sad, 21000 <br>
                T: 123-456-789<br>
                E: info@my-mail.com
            </p>
            <p>
                MON - FRI : 7am - 10pm <br>
                SATURDAY: 8am - 10pm <br>
                SUNDAY: CLOSED
            </p>
            <p>
                FAQ/Shipping & Returns/<br>
                Store Policy/<br>
                Payment Methods
            </p>
        </div>
        <div class="col desni">
            <form>
                <input name="ime" placeholder="Name" type="text">
                <input name="mail" placeholder="Email" type="email"><br>
                <input name="tema" placeholder="Subject" type="text"><br>
                <textarea rows="4" placeholder="Message"></textarea><br>
                <button type="submit">SEND</button>
            </form>
            <p>Get our Newsletters</p>
            <input type="email" placeholder="Enter your email">
            <button type="submit">Subscribe Now</button>
        </div>
    </div>
    <div class="row drugi">

    </div>

</div>
