<div class="container-fluid">
    <div class="row prvi">
        <div class="col-lg-5 levi col-md-8">
            <h4>Fortisi home desigh</h4>
            <p>A: Laze Nancica 7, <br>
                Novi Sad, 21000 <br>
                T: 123-456-789<br>
                E: info@my-mail.com
            </p>
            <p>
                MON - FRI : 7am - 10pm <br>
                SATURDAY: 8am - 10pm <br>
                SUNDAY: CLOSED
            </p>
            <p>
                FAQ/Shipping & Returns/<br>
                Store Policy/<br>
                Payment Methods
            </p>
        </div>
        <div class="col-lg-4 col-md-7 desni">
            <form>
                <div class="inputi">
                    <input name="ime" placeholder="Name" type="text">
                    <input name="mail" placeholder="Email" type="email">
                </div>
                <input name="tema" class="sirina" placeholder="Subject" type="text"><br>
                <textarea class="sirina" rows="4" placeholder="Message"></textarea><br>
                <button type="submit">SEND</button>
            </form>
            <p>Get our Newsletters</p>
            <div class="njuz">
                <input type="email" placeholder="Enter your email">
                <button type="submit">Subscribe Now</button>
            </div>
        </div>
    </div>
    <div class="row drugi">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=19.814604520797733%2C45.2439005441603%2C19.832521677017215%2C45.25056284289462&amp;layer=mapnik&amp;marker=45.247231791202495%2C19.82356309890747"
            style="border: 1px solid black"></iframe><br />
    </div>

</div>
