<div class="container-fluid">
    <div class="row">
        <div class=" folder1 col-md-4 text-center">
            <p style="width: 100%;">Home/Shop/{{artikal?.ime}}</p>
        </div>
        <div class="folder col-md-4 text-right">
            <p><a [routerLink]="['/shop/item/', id]"><span (click) = "umanjiId()" > &lt; Prev</span></a> | <a [routerLink]="['/shop/item/', id]"><span (click) = "uvecajId()"  >Next &gt;</span></a></p>
        </div>
    </div>
    <div class="row row2">
        <div class="folder1 col-md-8">
            <div class="slika">
               <img [src]="artikal?.slika"> 
            </div>
        </div>
        <div  class="folder col-md-3">
            <p class="naslov">{{artikal?.ime}}</p>
            <p class="cena">RSD {{artikal?.cena}}</p>
            <p>{{artikal?.opis}}</p>
            <label for="kolicina">Quantity</label><br>
            <input [(ngModel)] = "kolicina.value" name="value" style="width: 50px;" id="kolicina" type="number" value="1" min="1" max="10"><br><br>
            <p id="dugme"(click)= "konzola()">Add to cart</p>
        </div>
    </div>
</div>
    
