<div class="container-fluid">
    <div class="row">
        <div class=" folder col-md-6">
            <p>Home/Shop/</p>
        </div>
        <div class="folder col-md-6">
            <p> &lt; Prev | Next &gt; </p>
        </div>
    </div>
    <div class="row">
        <div class="folder slika1 col-md-8">
            <div class="slika" style="border: 2px solid black; width: 400px; height:400px;">
               <img> 
            </div>
            
        </div>
        <div class="folder col-md-3">
            <p>Ime</p>
            <p>Cena</p>
            <p>Opis</p>
            <label for="kolicina">Quantity</label><br>
            <input style="width: 50px;" id="kolicina" type="number"><br><br>
            <p>Dugme</p>
        </div>
    </div>



</div>
    
