<app-nav-bar></app-nav-bar>
<div class="aside">
    <a href="https://www.facebook.com" target="_blank"><img src="../assets/facebook-logo.png"></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="../assets/instagram-logo.png"></a>
    <a href="https://twitter.com/?lang=en" target="_blank"><img src="../assets/twitter.png"></a>
    <a href="https://www.pinterest.com/" target="_blank"><img src="../assets/pinterest.png"></a>
</div>
<app-chat-box></app-chat-box>
<router-outlet></router-outlet>
