.chatic {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color:rgb(248, 241, 230) ;
    border: 2px solid rgb(194, 193, 187);
    text-align: center;
}
form textarea{
    resize: none;
}
form {
    display: flex;
    flex-direction: column;
}
#togler {
    background-color: black;
    color: white;
    width: 100%;
    border-style: none;
    padding: 0.5em 3em;

}
form button {
    width: 100%;
    padding: 0.5em 1em;
}
.poruke{
    height: 15vh;
    background-color: white;
    border-top: 1px solid rgb(161, 158, 158);
}
#skriveni {
    padding: 10px 0;
    display: none;
}