<div id="navDiv">
    <div>
        <img src="assets/logo.png" width="150px">
    </div>
     <div class="linkovi">
        <ul>
            <li><a [routerLink]="['/home']"  [routerLinkActive] = "aktiv" >Home</a></li>
            <li><a [routerLink]="['/about']" [routerLinkActive] = "aktiv">About</a></li>
            <li>Shop</li>
            <li><a [routerLink]="['/contact']" [routerLinkActive] = "aktiv">Contact</a></li>
        </ul>
    </div>
    <div>
        <img src="assets/login.png" width="30px" alt="Login icon">
        <img src="assets/shoppingCart.jpg" width="80px" alt="Shopping cart">
    </div>
</div>