<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" [routerLink]="['/home']">&times;</a>
    <div class="overlay-content">
        <div class="formaIdeale">
            <h1>Log In</h1>
            <p><small>New to this site? </small><span ><a id="sajnap" [routerLink]="['/signin']">Sign Up</a></span></p>
            <form (ngSubmit) ="ulogujSe(f)" #f = "ngForm">
                <input type="email" placeholder="Email" name="email" ngModel class="form-control" > <br>
                <input type="password" placeholder="Password" name="pass" ngModel class="form-control">
                <small class="fpass"><a  href="#"><p><em>Forgot password? </em></p></a></small>
                <button type="submit" class="dugme" name="dugme">Log In</button>
            </form>
        </div>
    </div>
</div>