<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="overlay-content">
        <div class="formaIdeale">
            <h1>Log In</h1>
            <p>New to this site? <span ><a id="sajnap" [routerLink]="['/signin']">Sign Up</a></span></p>
            <form action="">
                <input type="email" placeholder="Email" name="email"><br>
                <input type="password" placeholder="Password" name="pass">
                <small class="fpass"><a  href="#"><p>Forgot password?</p></a></small>
                <button type="submit" class="dugme" name="dugme">Log In</button>
            </form>
        </div>
    </div>
</div>