<div class=" container-fluid">
    <div class="row">
        <div class="col-lg-2"><h4>My cart</h4></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"><h5>Price</h5></div>
        <div class="col-lg-2"><h5>Qty</h5></div>
        <div class="col-lg-2"><h5>Total</h5></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-2">{{artikal?.id}}</div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p class="qtyBorder">  </p>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p>Subtotal</p><br>
            <p>Shipping</p>
            <p>Belgrade,Serbia</p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <p> RSD </p>
            <br>
            <p>FREE</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"><h5>Total:</h5></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"><h4>RSD </h4></div>
    </div>

</div>
