<main>
    <div class="home1">
        <h1>Fortisi Home Design<br>-second name for Stylish-</h1>
        <h2>Beauty that comes from <br>trust</h2>
        <p><a [routerLink]="['/shop']">Shop now</a></p>
    </div>
    <div class="home2">
        <h2>POWER OF THE IDEA AND THE ART OF CRAFTMANSHIP</h2>
    <h3>In our work, the experience of 60 years joins joinery with twenty years of interior design. Let yourself be inspired
        by the unique projects that we were able to realize for demanding clients. <br>
        The special thing about our work comes from a holistic view of things, coupled with an condinitional commitment to
        quality.
    </h3>
    </div>
    <div class="home3">
        <div class="home31Box"></div>
        <div class="home32Box"></div>
        <div class="home33Box"></div>
    </div>
</main>